<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agtTracelog-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">agent序列号：</label>
				<div class="col-sm-8">
					<input id="agtEid" name="agtEid" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内存使用率：</label>
				<div class="col-sm-8">
					<input id="agtMemused" name="agtMemused" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">cpu使用率：</label>
				<div class="col-sm-8">
					<input id="agtCpuused" name="agtCpuused" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">上报时间：</label>
				<div class="col-sm-8">
					<input id="agtLastOnlineTime" name="agtLastOnlineTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "axm/agtTracelog"
		$("#form-agtTracelog-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-agtTracelog-add').serialize());
	        }
	    }
	</script>
</body>
</html>
