<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-host-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">agtID：</label>
				<div class="col-sm-8">
					<input id="agtEid" name="agtEid" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主机名：</label>
				<div class="col-sm-8">
					<input id="hostName" name="hostName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">主机IP：</label>
				<div class="col-sm-8">
					<input id="hostIp" name="hostIp" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">系统类型：</label>
				<div class="col-sm-8">
					<input id="sysType" name="sysType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">系统版本：</label>
				<div class="col-sm-8">
					<input id="sysVer" name="sysVer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内核版本：</label>
				<div class="col-sm-8">
					<input id="coreVer" name="coreVer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">硬盘序列号：</label>
				<div class="col-sm-8">
					<input id="discNum" name="discNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">硬盘型号：</label>
				<div class="col-sm-8">
					<input id="discType" name="discType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">硬盘大小(GB)：</label>
				<div class="col-sm-8">
					<input id="discSize" name="discSize" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">CPU颗数：</label>
				<div class="col-sm-8">
					<input id="cpuCount" name="cpuCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单CUP核数：</label>
				<div class="col-sm-8">
					<input id="cupCores" name="cupCores" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">CPU型号：</label>
				<div class="col-sm-8">
					<input id="cpuModel" name="cpuModel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内存型号：</label>
				<div class="col-sm-8">
					<input id="memType" name="memType" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内存条数：</label>
				<div class="col-sm-8">
					<input id="memCount" name="memCount" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内存大小(MB)：</label>
				<div class="col-sm-8">
					<input id="memSize" name="memSize" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "axm/host"
		$("#form-host-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-host-add').serialize());
	        }
	    }
	</script>
</body>
</html>
