<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-agt-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">agent序列号：</label>
				<div class="col-sm-8">
					<input id="agtEid" name="agtEid" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">'{"title":"存活状态","type":"dict","value":"ax_agt_state"}'：</label>
				<div class="col-sm-8">
					<input id="agtState" name="agtState" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">内存使用率：</label>
				<div class="col-sm-8">
					<input id="agtMemused" name="agtMemused" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">cpu使用率：</label>
				<div class="col-sm-8">
					<input id="agtCpuused" name="agtCpuused" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">版本：</label>
				<div class="col-sm-8">
					<input id="agtVer" name="agtVer" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">注册时间：</label>
				<div class="col-sm-8">
					<input id="agtRegistTime" name="agtRegistTime" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">硬盘序列号：</label>
				<div class="col-sm-8">
					<input id="agtDiscNum" name="agtDiscNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最近在线时间：</label>
				<div class="col-sm-8">
					<input id="agtLastOnlineTime" name="agtLastOnlineTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "axm/agt"
		$("#form-agt-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-agt-add').serialize());
	        }
	    }
	</script>
</body>
</html>
